# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ephemeral/
.atom/
.idea/
.vscode/

# Generated
.dart_tool/
**/generated_plugin_registrant.dart
*.g.dart
*.freezed.dart
.flutter-plugins*
pubspec.lock
coverage/

# Android
.gradle/
local.properties
.cxx/
*.iml
*.apk
*.aab
*.keystore
*.jks

# OS
.DS_Store
Thumbs.db
